{% extends 'base.html.twig' %}
{% block title %}Politique de confidentialite{% endblock %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col-12 my-4">
            <h3 class="centredTitle">Politique de confidentialite</h3>
            <div class="row">
                <div class="col-12">
                    <div class="simpleBlock">
                        <h4>ARTICLE 1 : PRÉAMBULE</h4>
                        <p>Cette politique de confidentialité s'applique au site : <a href="#">www.re2020plus.fr</a> .</p>
                        <p>La présente politique de confidentialité a pour but d'exposer aux utilisateurs du site :</p>
                        <ul>
                            <li>La manière dont sont collectées et traitées leurs données à caractère personnel. Doivent être considérées comme données personnelles toutes les données étant susceptibles d'identifier un utilisateur. Il s'agit notamment du prénom et du nom, de l'âge, de l'adresse postale, l'adresse mail, la localisation de l'utilisateur ou encore son adresse IP ;</li>
                            <li>Quels sont les droits des utilisateurs concernant ces données ;</li>
                            <li>Qui est responsable du traitement des données à caractère personnel collectées et traitées ;</li>
                            <li>A qui ces données sont transmises;</li>
                            <li>Eventuellement, la politique du site en matière de fichiers "cookies".</li>
                        </ul>
                    <p>Cette politique de confidentialité complète les mentions légales et les Conditions Générales d'utilisation que les utilisateurs peuvent consulter à l'adresse ci-après :</p>
                    <p><a href="http://www.re2020plus.fr/cgu">http://www.re2020plus.fr/cgu</a></p>
                    </div>
                </div>
                <div class="col-12">
                    <div class="simpleBlock">
                        <h4>ARTICLE 2 : PRINCIPES GÉNÉRAUX EN MATIÈRE DE COLLECTE ET DE TRAITEMENT DE DONNÉES</h4>
                        <p>Conformément aux dispositions de l'article 5 du Règlement européen 2016/679, la collecte et le traitement des données des utilisateurs du site respectent les principes suivants :</p>
                        <ul>
                            <li>Licéité, loyauté et transparence : les données ne peuvent être collectées et traitées qu'avec le consentement de l'utilisateur propriétaire des données. A chaque fois que des données à caractère personnel seront collectées, il sera indiqué à l'utilisateur que ses données sont collectées, et pour quelles raisons ses données sont collectées ;</li>
                            <li>Finalités limitées : la collecte et le traitement des données sont exécutés pour répondre à un ou plusieurs objectifs déterminés dans les présentes conditions générales d'utilisation ;</li>
                            <li>Minimisation de la collecte et du traitement des données : seules les données nécessaires à la bonne exécution des objectifs poursuivis par le site sont collectées ;</li>
                            <li>
                                Conservation des données réduites dans le temps : les données sont conservées pour une durée limitée, dont l'utilisateur est informé. Lorsque cette information ne peut pas être communiquée, l'utilisateur est informé des critères utilisés pour déterminer la durée de conservation ;
                            </li>
                            <li>Intégrité et confidentialité des données collectées et traitées : le responsable du traitement des données s'engage à garantir l'intégrité et la confidentialité des données collectées.</li>
                        </ul>
                        <p>Afin d'être licites, et ce conformément aux exigences de l'article 6 du règlement européen 2016/679, la collecte et le traitement des données à caractère personnel ne pourront intervenir que s'ils respectent au moins l'une des conditions ci-après énumérées :</p>
                        <ul>
                            <li>Lutilisateur a expressément consenti au traitement ;</li>
                            <li>Le traitement est nécessaire à la bonne exécution d'un contrat ;</li>
                            <li>Le traitement répond à une obligation légale ;</li>
                            <li>Le traitement s'explique par une nécessité liée à la sauvegarde des intérêts vitaux de la personne concernée ou d'une autre personne physique ;</li>
                            <li>Le traitement peut s'expliquer par une nécessité liée à l'exécution d'une mission d'intérêt public</li>
                        </ul>
                    </div>
                </div>
                <div class="col-12">
                    <div class="simpleBlock">
                        <h4> ARTICLE 3 : DONNÉES À CARACTÈRE PERSONNEL COLLECTÉES ET TRAITÉES DANS LE CADRE DE LA NAVIGATION SUR LE SITE
                            </h4>
                        <strong>A. DONNÉES COLLECTÉES ET TRAITÉES ET MODE DE COLLECTE</strong>
                        <p>Les données à caractère personnel collectées sur le site RE2020+ sont les suivantes :</p>
                        <p>Prénoms, noms, adresse postale, mail, numéro de téléphone, coordonnées bancaires, données relatives à la construction du bien immobilier et comportement utilisateur pour I amélioration du site.</p>
                        <p>Ces données sont collectées lorsque l'utilisateur effectue l'une des opérations suivantes sur le site :</p>
                        <ul>
                            <li>Lorsque l'Utilisateur achète un service sur le site;</li>
                            <li>Lorsque l'Utilisateur utilise le formulaire de contact pour envoyer une demande.</li>
                        </ul>
                        <p>Par ailleurs, lors d'un paiement sur le site, il sera conservé dans les systèmes informatiques de l'éditeur du site une preuve de la transaction comprenant le bon de commande et la facture.</p>
                        <p>Le responsable du traitement conservera dans ses systèmes informatiques du site et dans des conditions raisonnables de sécurité l'ensemble des données collectées pour une durée de ;.</p>
                        <ul>
                            <li>Données comptable : 10 ans</li>
                            <li>Documents d'études thermiques : 10 ans</li>
                            <li>Documents contractuels, commerciaux ; 3 ans</li>
                            <li>Cookie d'analyse des visites : 12 mois.</li>
                        </ul>
                        <p>La collecte et le traitement des données répondent aux finalités suivantes :</p>
                        <ul>
                            <li>Traitement des commandes </li>
                            <li>Transmissions de données aux clients.</li>
                        </ul>
                        <p>Les traitements de données effectués sont fondés sur les bases légales suivantes :</p>
                        <ul>
                            <li>Exécution du contrat.</li>
                        </ul>
                        <strong>B. TRANSMISSION DES DONNEES A DES TIERS</strong>
                        <p>Les données à caractère personnel collectées par le site ne sont transmises à aucun tiers, et ne sont traitées que par l'éditeur du site</p>
                        <strong>C. HÉBERGEMENT DES DONNÉES</strong>
                        <p>Le site RE2020+ est hébergé par : 02switch, dont le siège est situé à l'adresse ci-après :</p>
                        <ul>
                            <li>222 Bd Gustave Flaubert, 63000 Clermont-Ferrand Lhébergeur peut être contacté au numéro de téléphone suivant : <a href="tel:0444446040">04 44 44 60 40</a>.</li>
                        </ul>
                        <p>Les données collectées et traitées par le site sont exclusivement hébergées et traitées en France.</p>
                    </div>
                </div>
                <div class="col-12">
                    <div class="simpleBlock">
                        <h4>ARTICLE 4 : RESPONSABLE DU TRAITEMENT DES DONNÉES</h4>
                        <strong>A.	LE RESPONSABLE DU TRAITEMENT DES DONNÉES</strong>
                        <p>Le responsable du traitement des données à caractère personnel est : reE2020+. Il peut être contacté de la manière suivante :</p>
                        <ul>
                            <li>Le responsable peut-être contacter par mail à l'adresse suivante</li>
                        </ul>
                        <p>Le responsable du traitement des données est chargé de déterminer les finalités et les moyens mis au service du traitement des données à caractère personnel.</p>
                        <strong>B.	OBLIGATIONS DU RESPONSABLE DU TRAITEMENT DES DONNÉES</strong>
                        <p>Le responsable du traitement s'engage à protéger les données à caractère personnel collectées, à ne pas les transmettre à des tiers sans que l'utilisateur n'en ait été informé et à respecter les finalités pour lesquelles ces données ont été collectées.</p>
                        <p>De plus, le responsable du traitement des données s'engage à notifier l'utilisateur en cas de rectification ou de suppression des données, à moins que cela n'entraîne pour lui des formalités, coûts et démarches disproportionnés.</p>
                        <p>Dans le cas où l'intégrité, la confidentialité ou la sécurité des données à caractère personnel de l'utilisateur est compromise, le responsable du traitement s'engage à informer l'utilisateur par tout moyen.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{ include('@layout/_renseignement.twig') }}
{% endblock %}