{% extends 'base.html.twig' %}
{% block title %}Apropos{% endblock %}
{% block body %}
<div class="container-fluid occupeHauteur p-0">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h3 class="centredTitle mt-5">Apropos</h3>
      </div>
    </div>
    <div class="row align-items-center shadow p-3">
      <div class="col-md-12 col-lg-5 mb-md-3 mb-lg-0 text-center">
        <img src="../images/pancart.jpg" alt="aproposImg" class="aproposImg img-fluid rounded mb-5 mb-md-0">
      </div>
      <div class="col-lg-7 col-md-12">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus turpis nulla, ornare at dignissim nec, auctor eu elit. Quisque suscipit interdum augue ac pellentesque. Quisque elementum ipsum a lectus iaculis gravida nec sit amet orci. Donec nec sollicitudin tellus. Cras ligula eros, interdum sed tincidunt sit amet, ultricies non risus. Praesent sagittis vulputate volutpat. Cras viverra sit amet tellus scelerisque egestas. Aliquam erat volutpat. Aenean fringilla nulla ut elit mattis, eu sollicitudin nulla lobortis. Aliquam vel ligula egestas, commodo odio in, porttitor tortor. Aliquam accumsan lorem non enim cursus suscipit.
          Cras nec condimentum nulla, ac faucibus ligula. Aliquam ut odio scelerisque, finibus tortor vitae, tincidunt lacus. In in molestie ante. Mauris vel lacinia velit. In a imperdiet nibh. Sed elementum risus iaculis eros vestibulum fringilla. Suspendisse sit amet condimentum nisl. Morbi lacinia, elit eget accumsan pharetra, odio tellus malesuada lectus, vehicula eleifend ante ante et arcu. In vulputate vitae elit quis consequat. Suspendisse in maximus sapien. Pellentesque sed urna non augue posuere scelerisque vel pharetra urna. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam erat volutpat. Sed sit amet efficitur arcu. Nullam pulvinar sem eget aliquet porttitor.</p>
      </div>
    </div>
    <div class="row my-5">
      <div class="col-md-6 col-lg-3 mb-4">
        <div class="aproposCaracter">
          <i class="fa fa-solid fa-check colorIcon" aria-hidden="true"></i> Délai de réalisation : 24 heures
        </div>
      </div>
      <div class="col-md-6 col-lg-3 mb-4">
        <div class="aproposCaracter">
          <i class="fa fa-solid fa-check colorIcon" aria-hidden="true"></i> Assurance décennale
        </div>
      </div>
      <div class="col-md-6 col-lg-3 mb-4">
        <div class="aproposCaracter">
          <i class="fa fa-solid fa-check colorIcon" aria-hidden="true"></i> Qualification RGE ingénierie qualifiée par l'OPQIBI (1331 et 1332)
        </div>
      </div>
      <div class="col-md-6 col-lg-3 mb-4">
        <div class="aproposCaracter">
          <i class="fa fa-solid fa-check colorIcon" aria-hidden="true"></i> Délai de réalisation : 24 heures
        </div>
      </div>
      <div class="col-md-6 col-lg-3 mb-4">
        <div class="aproposCaracter">
          <i class="fa fa-solid fa-check colorIcon" aria-hidden="true"></i> Assurance décennale
        </div>
      </div>
      <div class="col-md-6 col-lg-3 mb-4">
        <div class="aproposCaracter">
          <i class="fa fa-solid fa-check colorIcon" aria-hidden="true"></i> Qualification RGE ingénierie qualifiée par l'OPQIBI (1331 et 1332)
        </div>
      </div>
      <div class="col-md-6 col-lg-3 mb-4">
        <div class="aproposCaracter">
          <i class="fa fa-solid fa-check colorIcon" aria-hidden="true"></i> Délai de réalisation : 24 heures
        </div>
      </div>
      <div class="col-md-6 col-lg-3 mb-4">
        <div class="aproposCaracter">
          <i class="fa fa-solid fa-check colorIcon" aria-hidden="true"></i> Assurance décennale
        </div>
      </div>
      <div class="col-md-6 col-lg-3 mb-4">
        <div class="aproposCaracter">
          <i class="fa fa-solid fa-check colorIcon" aria-hidden="true"></i> Qualification RGE ingénierie qualifiée par l'OPQIBI (1331 et 1332)
        </div>
      </div>
      <div class="col-md-6 col-lg-3 mb-4">
        <div class="aproposCaracter">
          <i class="fa fa-solid fa-check colorIcon" aria-hidden="true"></i> Qualification RGE ingénierie qualifiée par l'OPQIBI (1331 et 1332)
        </div>
      </div>
      <div class="col-md-6 col-lg-3 mb-4">
        <div class="aproposCaracter">
          <i class="fa fa-solid fa-check colorIcon" aria-hidden="true"></i> Qualification RGE ingénierie qualifiée par l'OPQIBI (1331 et 1332)
        </div>
      </div>
      <div class="col-md-6 col-lg-3 mb-4">
        <div class="aproposCaracter">
          <i class="fa fa-solid fa-check colorIcon" aria-hidden="true"></i> Qualification RGE ingénierie qualifiée par l'OPQIBI (1331 et 1332)
        </div>
      </div>
    </div>
  </div>
  {{ include('@layout/_renseignement.twig') }}
</div>
{% endblock %}