{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h1 class="h3 mb-3 font-weight-normal mt-5 pt-5">Remarque</h1>
        {{ form_start(form) }}
        <label for="">Reamrque : </label>
        {{ form_row(form.remark) }}
        {{ form_widget(form.submit, {'label': 'edit la remarque'}) }}
        {{ form_end(form) }}
    </div>

{% endblock %}