{% extends 'base.html.twig' %}
{% block title %}Apropos{% endblock %}
{% block body %}
<div class="container-fluid tarifsContainer mb-5">
    <div class="container">
        <div class="row tarifsRow packsDetails g-1">
        <div class="col-md-12">
            <h3 class="centredTitle">TARIFS ÉTUDE RE2020 ET ATTESTATION<br> PERMIS DE CONSTRUIRE</h3>
            <p class="bg-white text-black rounded-3 p-4">La réglementation environnementale RE2020 s’applique aux projets de constructions de maisons individuelles dont le permis de construire est déposé après le 01 janvier 2022. Les extensions de maisons individuelles de moins de 150 m² restent soumises à la RT2012 jusqu’au 31 décembre 2022 (consulter nos tarifs RT2012). Dans tous les cas, notre espace client vous oriente automatiquement vers la bonne réglementation.</p>
        </div>
            <div class="col-lg-4 col-md-12">
                <div class="pack pack1 text-center p-5">
                    <p class="surTitrePack">RE2020 PERMIS</p>
                    <div class="packPrice">189 € TTC</div>
                    <p>VALIDER LE PERMIS DE CONSTRUIRE</p>
                    <div class="packDivider"></div>
                    <p class="packDescription">Attestation RE2020 permis Joignable au téléphone</p>
                    <button class="buyPack"><i class="fa-solid fa-cart-shopping"></i> Commander</button>
                    <div class="mt-5 text-start">
                        <p><i class="fa fa-solid fa-check colorIcon" aria-hidden="true"></i> Étude RE2020 Th-BD</p>
                        Calcul certifié du Bbio et DH</p>
                        <p><i class="fa fa-solid fa-check colorIcon" aria-hidden="true"></i>Attestation RE2020 Permis de construire</p>
                        <p>Nous réalisons pour vous la démarche administrative de génération de l'attestation RT2020 permis ! Vous avez juste à imprimer et signer ce document officiel.</p>
                        <p><i class="fa-solid fa-plus colorIcon"></i> Assurance décennale</p>
                        <p><i class="fa-solid fa-plus colorIcon"></i> Certification RGE et OPQIBI</p>
                        <p><i class="fa-solid fa-plus colorIcon"></i> Délai de réalisation : 2 jours</p>
                        <p><i class="fa-solid fa-plus colorIcon"></i> Thermicien joignable au téléphone</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-12">
                <div class="pack pack2 text-center p-5">
                    <p class="surTitrePack">RE2020 COMPLÈTE</p>
                    <div class="packPrice">269 € TTC</div>
                    <p>VALIDER LE PROJET COMPLET</p>
                    <div class="packDivider"></div>
                    <p class="packDescription">Attestation RE2020 permis Documents pour fin de travaux Joignable au téléphone</p>
                    <button class="buyPack"><i class="fa-solid fa-cart-shopping"></i> Commander</button>
                    <div class="mt-5 text-start">
                        <p><i class="fa fa-solid fa-check colorIcon" aria-hidden="true"></i> Étude RE2020 Th-BD</p>
                        Calcul certifié du Bbio et DH</p>
                        <p><i class="fa fa-solid fa-check colorIcon" aria-hidden="true"></i>Attestation RE2020 Permis de construire</p>
                        <p>Nous réalisons pour vous la démarche administrative de génération de l'attestation RT2020 permis ! Vous avez juste à imprimer et signer ce document officiel.</p>
                        <p><i class="fa fa-solid fa-check colorIcon" aria-hidden="true"></i>Justificatif conformité fin de travaux</p>
                        <p>Fiche de synthèse (xml) qui atteste du respect de l'ensemble des exigences de la RE2020. Nécessaire à l'édition de l'attestation de fin de travaux.</p>
                        <p><i class="fa-solid fa-plus colorIcon"></i> Assurance décennale</p>
                        <p><i class="fa-solid fa-plus colorIcon"></i> Certification RGE et OPQIBI</p>
                        <p><i class="fa-solid fa-plus colorIcon"></i> Délai de réalisation : 2 jours</p>
                        <p><i class="fa-solid fa-plus colorIcon"></i> Thermicien joignable au téléphone</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-12">
                <div class="pack pack3 text-center p-5">
                    <p class="surTitrePack">RE2020 SÉRÉNITÉ</p>
                    <div class="packPrice">399 € TTC</div>
                    <p>OPTIMISER LE PROJET</p>
                    <div class="packDivider"></div>
                    <p class="packDescription">Attestation RE2020 permis Documents pour fin de travaux Conseils et optimisation Joignable au téléphone</p>
                    <button class="buyPack"><i class="fa-solid fa-cart-shopping"></i> Commander</button>
                    <div class="mt-5 text-start">
                        <p><i class="fa fa-solid fa-check colorIcon" aria-hidden="true"></i> Étude RE2020 Th-BD</p>
                        Calcul certifié du Bbio et DH</p>
                        <p><i class="fa fa-solid fa-check colorIcon" aria-hidden="true"></i>Attestation RE2020 Permis de construire</p>
                        <p>Nous réalisons pour vous la démarche administrative de génération de l’attestation RT2020 permis ! Vous avez juste à imprimer et signer ce document officiel.</p>
                        <p><i class="fa fa-solid fa-check colorIcon" aria-hidden="true"></i>Justificatif conformité fin de travaux</p>
                        <p>Fiche de synthèse (xml) qui atteste du respect de l'ensemble des exigences de la RE2020. Nécessaire à l'édition de l'attestation de fin de travaux.</p>
                        <p><i class="fa fa-solid fa-check colorIcon" aria-hidden="true"></i> Optimisation technique du projet</p>
                        <p>Sur le bâti et les systèmes, assistance, conseils et optimisation pour vous aider à faire les meilleurs choix, en fonction de vos exigences. Fourniture d’un avis sur les plans sur l’aspect thermique (conception bioclimatique).</p>
                        <p><i class="fa-solid fa-plus colorIcon"></i> Assurance décennale</p>
                        <p><i class="fa-solid fa-plus colorIcon"></i> Certification RGE et OPQIBI</p>
                        <p><i class="fa-solid fa-plus colorIcon"></i> Délai de réalisation : 2 jours</p>
                        <p><i class="fa-solid fa-plus colorIcon"></i> Thermicien joignable au téléphone</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{ include('@layout/_renseignement.twig') }}
{% endblock %}