<div class="container-fluid cta1 mt-md-5 mt-0">
    <div class="container p-5 p-md-0 p-lg-5">
        <div class="row align-items-center p-0 p-md-5">
            <div class="col-lg-8 col-md-8">
                <h3 class="ctaTitle">Besoin d'un renseignement ?</h3>
                <p class="mb-3 mb-md-0">Vous pouvez nous solliciter quand vous le souhaitez via notre formulaire de contact.</p>
                <p class="mb-3 mb-md-0">Vous pouvez également nous joindre au téléphone
                </p><p class="mb-3 mb-md-0">(du lundi au vendredi, 8h30-12h30 puis 14h00-17h30).</p>
            </div>
            <div class="col-lg-4 col-md-4 ctaBtns">
                <a href="#"><button class="btnTel"><i class="fa-solid fa-phone"></i> 05 00 00 00 00</button></a>
                <a href="#"><button class="btnContact"><i class="fa-regular fa-envelope"></i> Nous contacter</button></a>
            </div>
        </div>
    </div>
</div>